.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spinner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .spinner {
    height: 2rem;
    width: 2rem;
    color: #ead8b1;
    animation: spin 1s linear infinite;
  }
  
  .loading-text {
    color: #ead8b1;
    font-size: 0.875rem;
  }
  
  .error-card {
    padding: 1.5rem;
    border: 2px solid #ead8b1;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .error-icon-wrapper {
    background-color: #e0c488;
    padding: 0.75rem;
    border-radius: 9999px;
  }
  
  .error-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #121212;
  }
  
  .error-text {
    color: #ead8b1;
    font-size: 0.875rem;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .error-btn{
    background-color: #eadb81;
    color: #121212;
    font-size: 20px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
  }